<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var selectedCategory = 5;//default road color
        var userMapUrl = '@Url.Action("Index", "Base")';
        var liveMapUrl = '@Url.Action("LiveMap","Base")';
        var categoryColors = ["#ff0000", "#FFA500", "#FFFF00", "#008000", "#00FFFF"];//category colors
    </script>
</head>
<body>
    @RenderBody()
    <footer><center>Made with &hearts; in India</center></footer>
    
</body>
</html>
